.card {
  width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  gap: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.avatar {
  height: 100px;
  width: 100px;
  margin: auto;
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
  border-radius: 100%;
}
.card .avatar {
  background-image: url("https://img.freepik.com/free-icon/user_318-563642.jpg");
}

h3,
a,
i {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}
h3 {
  margin-bottom: 5px;
  font-size: 14px;
  color: #212121;
  align-self: start;
  margin-left: 20px;
}
h3 span {
  color: #545151;
}
a {
  display: block;
  font-size: 14px;
  color: #9e9e9e;
  text-decoration: none;
}

.button-wrap {
  margin: 10px;
  padding: 7px 0px;
  display: flex;
  justify-content: space-between;
}
.button-wrap button {
  width: 40%;
}
.add-button {
  color: #ffffff !important;
  border-radius: 5px !important;
  align-self: start !important;

  margin-bottom: 10px !important;
  padding: 10px 7px !important;
}
